.ip-are{background-color: #acbc8a;}
.cst-btn{background-color: #9d6262;}
.rg-map {height: 500px;}
.ip-are { margin-top: 10px;} 
@media (min-width: 576px) {
    .ip-are { margin-top: 20px;} 
    .rg-map {height: 500px;}
}

@media (min-width: 768px) {
    .ip-are { margin-top: 0px;} 
    .rg-map {height: 600px;}
}

@media (min-width: 992px) {
    .ip-are { margin-top: 0px;} 
    .rg-map {height: 1150px;}
}

@media (min-width: 1200px) {
    .ip-are { margin-top: 0px;} 
    .rg-map {height: 1150px;}
}

@media (min-width: 1400px) {
    .ip-are { margin-top: 0px;} 
    .rg-map {height: 1150px;}
}