.pd {padding: 0 !important; }
.ip-are{background-color: #acbc8a;}
.cst-btn{background-color: #9d6262;}
.rg-map {height: 500px;}
.ip-are { margin-top: 0;} 

/*~px 이하*/
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {
    .ip-are {
            margin-top: 10px;
        }
    .row {
            display: grid;
            grid-template-rows: 1fr 1fr;
        }
}